<div ng-include src="'views/header.html'"></div>

<div class="jumbotron">
  <h1>Init Tracker</h1>
  <form id="char-form" ng-submit="addCharacter()">
    <input id="new-char" placeholder="Who joins the bloodbath?" ng-model="newCharacter" autofocus>
  </form>
</div>

<ul id="char-list" class="list-group" ui-sortable ng-model="tracker">
  <li ng-class="{'list-group-item': true, 'editing': char == editedCharacter}" ng-repeat="char in tracker track by $index">
      <div class="view row">
        <h3 ng-dblclick="editCharacter(char)" class="list-group-item-heading col-md-8">{{char.name}} <small>{{char.init}}</small></h4>
        <div class="col-md-4 hover-only text-right">
          <button class="btn btn-default" ng-hide="$index == 0" ng-click="moveCharacterUp(char)">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button class="btn btn-default" ng-hide="$index == tracker.length - 1" ng-click="moveCharacterDown(char)">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button class="btn btn-success" ng-click="editCharacter(char)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-danger" ng-click="removeCharacter(char)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
      <form class="edit row" ng-submit="doneEditing(char)">
        <div class="form-group col-md-8">
          <label class="sr-only" for="exampleInputEmail2">Character Name</label>
          <input class="form-control" ng-trim="false" ng-model="char.name" char-escape="revertEditing(char)" char-focus="char == editedCharacter">
        </div>
        <div class="form-group col-md-2">
          <label class="sr-only" for="exampleInputEmail2">Initiative</label>
          <input class="form-control" type="number" ng-model="char.init" char-escape="revertEditing(char)" />
        </div>
        <button class="btn btn-primary col-md-2" ng-click="doneEditing(char)"><span class="glyphicon glyphicon-ok"></span></button>
      </form>
    <!--<p class="list-group-item-text">Initiative: {{char.init}}</p>-->
  </li>
</ul>
